* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.03em;
  font-family: "Roboto Slab";
}

hr {
  border: none;
  height: 2px;
  width: 30%;
}

#share {
  width: 75px;
  position: fixed;
  right: 0;
  top: 25%;
  display: none;
  z-index: 1000;
}

.sidebar {
  display: inline;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #273746;
  border-radius: 10px 0 0 10px;
  margin: auto;
  padding-left: 0!important;
  text-align: center;
}

.sidebar li {
  font-size: 1.5em;
  padding: 0.5em;
}

footer {
  background-color: #273746;
  color: lightgray;
  font-weight: 400;
  padding-bottom: 2em;
  width: 100%;
  font-family: Raleway;
  text-align: center;
}

/* SOCIAL MEDIA */

.social-media {
  list-style: none;
  display: flex;
  padding: 1em 0 0 0;
  margin: auto;
  justify-content: center;

}

.social-media li {
  font-size: 1.5em;
  padding: 0.3em;
}

.share-link {
  display: none!important;
}

.fixed-header {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid black;
    background-color: #273746;
    width: 100vw!important;
    border-radius: 0 0!important;
    z-index: 10;
    color: white;
    transition: 0.2s ease;
    /* background-color: white!important; */
}

.text-center > h6 {
  font-family: Raleway;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.raleway {
  font-family: Raleway;
}

.merriweather {
  font-family: Merriweather;
}

#mainMenu {
  width: 75%;
}

#navbarNavAltMarkup {
  float: right;
}

#mainMenu > .navbar-toggler {
  float: right;
}
.sticky-format {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  margin: 1em auto;
}

.my-4 {
  height: 2px;
  background-color: white;
  width: 80%;
}


.tagline,
.lead {
  padding: 1em;
}

p.tagline {
  font-style: italic;
}


img[src="ebookMiniMobile.png"] {
  display: none;
  height: 400px;
  width: auto!important;
  margin: auto;
  border-radius: 20px!important;
}

.navbar-nav a:hover {
  background-color: #138293;
  border-radius: 5px;
  transition: 0.5s;
}


.jumbotron {
  /* height: 750px; */
  background-image: url("forest.jpg");
  position: relative!important;
  border-radius: 0 0 10px 10px;
  text-align: center;
  background-size: cover;

}

.jumbotron h1,
.jumbotron p {
  background-color: rgba(255,255,255,0.6);
  padding: 0.5em;
  border-radius: 10px;
  width: 65%;
}
.jumbotron p {
  padding: 1em 1.2em;
}

.jumbo-content {
  width: 75%;
  margin: auto;
}

img[src="ebookMini.png"] {
  float: right;
  border-radius: 30px;
}



.features,
.testimonials,
.chapters,
.purchase,
.samples {
  font-family: Merriweather;
  color: #138293;
  margin: auto;
}

.features {
  background-color: white;
}

.feat-rule {
  margin: auto;
  background-color: darkgray;
}

.card-group {
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: column!important;
}


.features .card {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 1em;
}

.features .card > img {
  width: 80px;
  height: auto;
  margin: 1em;
}

.testimonials,
.samples {
  background-color: lightgray;
}


.reviews-rule {
  margin: auto;
  margin-bottom: 2em;
  background-color: darkgray;

}


.carousel-item > p {
  width: 70%;
  margin: auto;
}

.review {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 4px 3px 4px gray;
}

.review h2,
.review cite {
  display: inline-block;
  width: 75%;
}

.review h2 {
  padding: 1em;
}

.review-cont {
  width: 95%;
  margin: 2em auto;
  border: lightblue 5px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  width: 90%;
}

.reviewer {
  font-weight: bold;
  align-self: flex-end;
  padding-right: 13%;
  padding-top: 1em;

}

.review-cont img {
  width: 50px;
  height: auto;
}

.review-cont img:first-of-type {
  align-self: flex-start; /* note floats do not work in a flexbox */

}


.review-cont img:last-of-type {
  align-self: flex-end;
}

cite span {
  font-family: "Merriweather";
  font-size: 3em;
  font-weight: bold;
}

cite span:first-child {
  display: block;
  text-align: left;
}

cite span:last-child {
  display: block;
  text-align: right;
}

.chapters-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 67%;
  margin: 4em auto;
}

.chapters-group > .card {
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2em;

}

.chapters-group > .card > .card-body {
  text-align: left;
  margin-bottom: 2.5em;
}

.chapters-group > .card > .card-body > a {
  position: absolute;
  bottom: 0;
  margin: 1.5em 0;
}



img[src="booksAll.png"] {
  padding-left: 5%;
  border-radius: 10px;
  margin-top: 2em;
  overflow: hidden;
}

.img-cont {
  background-image: url(images/fog.jpg);
  background-position: center center;
  opacity: 0.5;
  padding: 100px;
}



#previews {
  list-style: none;
  text-align: left;
  background-color: white;
  width: 40%;
  margin: 2em auto;
  border-radius: 15px;
  padding: 2em;
}

#chap1Preview,
#chap2Preview,
#chap3Preview,
#chap4Preview,
#chap5Preview,
#chap6Preview,
#chap7Preview,
#chap8Preview,
#chap9Preview {
  display: none;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 2.5em;

}

.chevron {
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1);
  padding-left: 0.4em;

}

#chap1Preview:hover,
#chap2Preview:hover,
#chap3Preview:hover,
#chap4Preview:hover,
#chap5Preview:hover,
#chap6Preview:hover,
#chap7Preview:hover,
#chap8Preview:hover,
#chap9Preview:hover  {
color: #6c757d!important;
text-decoration: none!important;
}

#chap1:hover,
#chap2:hover,
#chap3:hover,
#chap4:hover,
#chap5:hover,
#chap6:hover,
#chap7:hover,
#chap8:hover,
#chap9:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}


.purchaseBook {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

.stars {
  width: 90%;
  margin: 1em auto;
  border: 3px black solid;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}

img[src="icons/stars.png"] {
  width: 125px;
  height: auto;
  margin-top: 0.75em;
}

.paperback,
.ebook {
  border: 2px black solid;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 4px black;
}

.paperback:hover,
.ebook:hover {
  background: lightgray;
  transition: 0.6s;
}

.smashwords-widget {
  margin: 2em auto;
  width: 300px;
  height: 250px;
}

@media (max-width: 727px) {
  #mainMenu {
    width: 95%!important;
  }

  #mainMenu > .navbar-brand {
    float: left;

  }



  img[src="ebookMini.png"] {
    display: none;
  }

  img[src="ebookMiniMobile.png"] {
    display: block;
    width: 100%;
    border-radius: 5px;
  }

  .jumbotron * {
    font-size: 1em!important;
  }

  .jumbotron {
    height: auto;
    padding-top: 0.5em;
  }

  .jumbotron h1,
  .jumbotron p {
    padding: 0.5em;
    border-radius: 10px;
    width: 100%!important;
    display: block;
    font-weight: 400;
  }
  .jumbotron h1 {
    padding: 0.4em 0.8em;
    display: block;
    margin-top: 1em;
    font-size: 2.3em!important;
    font-weight: 400;
  }

  .jumbo-content {
    width: 100%;
    margin: auto;

    display: block!important;

  }
  p.tagline {
    font-size: 0.95em!important;
    font-style: italic;
  }

  .fixed-header {

      padding-left: 8%!important;


  }

  .review {
    width: 100%;
  }

  .quote {
    margin: 3%;
  }
  .quote > img {
    width: 5%;
  }

  .chapters-group {
    margin: auto;
    width: 75%;
  }

  .chapters-group > .card {
    flex-basis: 100%;
  }

  #previews {
    width: 98%;
    padding-left: 1em;
    padding-right: 1em;
  }
  #previews h5 {
    font-size: 1.1em;
  }
  #chap1Preview,
  #chap2Preview,
  #chap3Preview,
  #chap4Preview,
  #chap5Preview,
  #chap6Preview,
  #chap7Preview,
  #chap8Preview,
  #chap9Preview {
    width: 95%;
    padding: 1em 0;
  }
  img[src="booksAll.png"] {
    width: 90%;
  }

  .smashwords-widget {
    width: 90%;
  }

  #share {
    display: none!important;
  }

  .share-link {
    display: hidden;
    text-align: center;
    font-size: 0.8em;
  }
}

@media (max-width: 499px) {
  .card-group {
    width: 90%;
    margin: auto;
  }
  .jumbotron {
    background-size: cover;
  }
  .card-group > .card {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
  }

  .card-group > .card > .card-body {
    padding-top: 0;
  }


  .review {
    font-size: 0.9em;
  }

  .chapters-group {
    font-size: 0.9em;
    width: 95%;
    margin-top: 2em;
  }

  .navbar-brand {
    font-size: 0.9em;
  }

  .fixed-header {
    text-align: center;
    padding: 0.3em;
    font-size: 0.8em!important;
  }

  .fixed-header img {
    padding-top: 5px;
    height: 45px;
    width: auto;
  }

  .sans-smashwords {
    margin: auto;
  }

  footer {
    font-size: 0.8em;
  }

}

@media (min-width: 500px) and (max-width: 727px) {
  .card-group {
    width: 410px;
    margin: auto;
  }
  .card-group > .card {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .card-group > .card > .card-body {
    padding-top: 0;
  }

  .card > img {
    align-self: center;
  }

  .purchaseBook {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;

  }

  .stars {
    width: 90%;
    margin: 1em auto;
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
  }

  .fixed-header {
    padding: 0.5em;
  }
}
@media (min-width: 728px) {

  img[src="ebookMini.png"] {
    height: 385px;
    width: auto;
  }

  #previews {
    width: 80%;
  }
  .jumbo-content {
    width: 96%;
  }

  .jumbotron h1 {
    width: 57%;
  }

  .jumbotron p.lead {
    width: 57%;
  }
  .jumbotron p {

    width: 100%;
  }

  .jumbotron h1,
  .jumbotron p {
    padding: 0.5em;
  }

  .tagline {
    width: 100%!important;
    margin-top: 1em!important;
  }
  .card-group {
    width: 88%;
    margin: auto;
    flex-direction: row!important;
  }
  .card-group > .card {
    flex-basis: 50%; /*override bootstrap flex mq for above 576px */
    padding-left: 0;
  }

  .card-group > .card .card-body {
    padding-left: 0;
  }

  .features .card-group .card-subtitle {
    padding-left: 0;
    font-size: 0.9em!important;
  }
  .chapters-group .card .card-img-top {
    height: 245px;
  }

  .chapters-group {
    width: 90%;
  }

  .chapters-group > .card {
    flex-basis: 48%;
  }


  .purchaseBook {
    width: 425px;
  }

  img[src="booksAll.png"] {
    width: 60%;
  }

  .stars {
    width: 400px;
  }

  .review {
    width: 75%;
  }

  .fixed-header {
    padding: 1em;
  }

  #share {
    width: 50px;
  }

  .sidebar li {
    font-size: 1em;
    padding: 0.5em;
  }

}

@media (min-width: 850px) {
  /* img[src="ebookMini.png"]{
    height: 487px;
    width: auto;
    clear: right;
  } */

  .jumbo-content {
    width: 85%;
  }

  .jumbotron > .display-4,
  .jumbotron > .lead,
  .jumbotron > .tagline {
    width: 59%;
  }

}

@media (min-width: 980px) {
  .card-group {
    width: 60%;
    max-width: 800px;
  }

  .chapters-group {
    width: 80%;
  }

  .jumbotron {
    margin-top: -0.1em;
  }

  #previews {
    width: 50%;
    max-width: 800px;
    font-size: 1.2em;
  }

  .jumbo-content > h1 {
    font-size: 3.7rem!important;
  }

  img[src="ebookMini.png"] {
    height: 400px;
    width: auto;
  }
  .jumbo-content {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .jumbo-content {
    width: 90%;
  }

  .jumbotron .display-4,
  .jumbotron p.lead,
  .jumbotron p.tagline {
    width: 61%!important;
  }

  hr.my-4 {
    margin: auto;
    width: 92%;
  }

  img[src="ebookMini.png"] {
    height: 525px;
    width: auto;
  }

  img[src="booksAll.png"] {
    width: 50%;
  }

  .chapters-group {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .jumbo-content {
    width: 80%;
  }
}
@media (min-width: 1350px) {
  .jumbo-content {
    width: 78%;
  }
}

@media (min-width: 1400px) {
  .jumbo-content {
    width: 75%;
  }
}

@media (min-width: 1500px) {

  .jumbo-content {
    width: 65%;
  }
  .card-group {
    width: 45%;
  }
  .card-group > .card {
    flex-basis: 50%; /*override bootstrap flex mq for above 576px */

  }

  .chapters-group > .card {
    flex-basis: 32%;
  }

  #share {
    width: 70px;
  }

  .sidebar li {
    font-size: 1.5em;
    padding: 0.5em;
  }

  img[src="booksAll.png"] {
    width: 45%;
  }

}

@media (min-width: 1800px) {
  .jumbo-content {
    width: 55%;
  }

  .review {
    width: 70%;
  }
}
